<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />

    <link
      href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <main>
      <section>
        <h1 class="title">Start Sentiment Analysis</h1>
        <form class="form-style" onsubmit="return Client.handleSubmit(event)">
          <textarea
            rows="3"
            cols="80"
            id="text"
            value=""
            placeholder="Tell me what you want to analyze"
          ></textarea>
          <input
            class="button"
            type="submit"
            name=""
            value="submit"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return handleSubmit(event)"
          />
        </form>
      </section>

      <section id="section-result">
        <div id="result-list" class="result-list">
          <ul class="result-flex">
            <li id="agreement"></li>
            <li id="subjectivity"></li>
            <li id="confidence"></li>
            <li id="irony"></li>
          </ul>
        </div>
      </section>
    </main>

    <footer id="footer">
      <p>Made by Yuling | 2021</p>
    </footer>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
