<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />

    <link
      href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <h1 class="title">Start Sentiment Analysis</h1>
    </header>

    <main>
      <section>
        <form class="" onsubmit="return Client.handleSubmit(event)">
          <textarea
            rows="3"
            cols="80"
            id="text"
            value=""
            placeholder="Describe your feeling here..."
          >
          </textarea>
          <input
            type="submit"
            name=""
            value="submit"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return handleSubmit(event)"
          />
        </form>
      </section>

      <section id="section-result">
        <strong>Text Results:</strong>
        <div id="result-list" class="result-list">
          <div id="results"></div>
          <div id="agreement"></div>
          <div id="subjectivity"></div>
          <div id="confidence"></div>
          <div id="irony"></div>
        </div>
      </section>
    </main>

    <footer id="footer">
      <p>Made by Yuling</p>
    </footer>
  </body>
</html>
